@model Html_Helpers_Prj.Models.Student
@{
    ViewBag.Title = "Strongly_Typed";
}

<h2>Strongly_Typed</h2>
@using (Html.BeginForm())
{
<table border="1" cellpadding="7" cellspacing="5">
    <tr>
        <td>@Html.LabelFor(m => m.RNo)</td>
        <td>@Html.TextBoxFor(m => m.RNo)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.name)</td>
        <td>@Html.TextBoxFor(m => m.name)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Address)</td>
        <td>@Html.TextAreaFor(m => m.Address)</td>
    </tr>
    <tr>
        <td><input type="submit" /></td>
    </tr>
</table>
}